<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MAGIC THE GATHERING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="carta">
    <ion-row>
      <ion-col size="6" *ngFor="let card of cards">
        <ion-card (click)="goCard(card.multiverseid)">
          <img [src]="card.imageUrl" width="100%">
          <ion-card-content>
            <h2> {{card.name}} </h2>
            <h3> {{card.types}} </h3>
            <h3> {{card.layout}} </h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
